!!!
%html{ :lang => "en" }
  %head
    = render('snippets/head')
  %body
    #main
      #sidebar
        = render('snippets/main_nav')
      #content.blog-text
        %h1= @item[:title]
        = yield
        %p.publish-time.float-right
          %time{ datetime: publish_date(@item) }
            = publish_date(@item).strftime("%-d %B, %Y")
        .clear
        - if has_comments?(@item)
          = render('snippets/disqus')
    = render('snippets/google_analytics')

