!!!
%html{ :lang => "en" }
  %head
    %meta{ :charset => "utf-8" }
    %title
      Urbanautomaton -
      = @item[:title]
    %link{ :rel => "stylesheet", :href => "/style/style.css" }
    %link{ :href => 'http://fonts.googleapis.com/css?family=Source+Sans+Pro:400,600,700,900,400italic|Crimson+Text:400,600', :type => 'text/css', :rel => 'stylesheet' }
    %meta{ :name => "generator", :content => "nanoc #{Nanoc::VERSION}" }
  %body
    #main
      - unless @item[:title] == "Home"
        %h1= @item[:title]
      = yield
    #sidebar
      %ul.nav
        - site_sections(@item).each do |label, link, li_class|
          %li{ :class => li_class }
            %a{ :href => link }= label
