!!!
%html{ :lang => "en" }
  %head
    %meta{ :charset => "utf-8" }
    %title
      Urbanautomaton -
      = @item[:title]
    %link{ :rel => "stylesheet", :href => "/style/screen.css", :media => "screen" }
    %link{ :rel => "stylesheet", :href => "/style/print.css",  :media => "print" }
    %meta{ :name => "generator", :content => "nanoc #{Nanoc::VERSION}" }
  %body
    #main.blog-text
      %h1= @item[:title]
      = yield
      - if @item[:comments]
        = render('snippets/disqus')
    #sidebar
      %ul.nav
        - site_sections(@item).each do |label, link, li_class|
          %li{ :class => "site-section #{li_class}" }
            %a{ :href => link }= label
        - external_links.each do |label, link|
          %li.external-link
            %a{ :href => link }= label
    = render('snippets/google_analytics')
